.DS_Store
.vscode
raw datasets/EmoKey Short
raw datasets/Mendeley
cleaned datasets/Emotion cleaned
cleaned datasets/Mendeley cleaned

# Ignore everything in featuresets/
featuresets/*

# Un-ignore the folder (so git can recurse into it)
!featuresets/
!Kaggle_Emotions_Dataset

# Un-ignore specific files
!featuresets/Mendeley cleaned_2025-07-22_17-04.zip
!featuresets/original_data_2025-07-22_17-07.csv
!featuresets/Kaggle_Emotions_Dataset/emotions.csv